.food-display {
    padding: 40px 20px;
    background: transparent;
    border-radius: 10px;
    animation: fadeIn 1s ease-out forwards;
  }
  
  .food-display h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
  }
  
  .food-display-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 0 auto;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
  }
  